<div class="main-section container p-5 flex-column">
  <h1>{{ 'sign_up.title' | translate }}</h1>
  <form (ngSubmit)="signUp()" [formGroup]="signUpForm" class="row flex-column">
    <div class="formGroup py-1">
      <input
        type="email"
        class="formControl w-100"
        placeholder="{{ 'sign_up.username_label' | translate }}"
        formControlName="email"
        #userEmail
        required />
    </div>
    <div class="formGroup py-1">
      <input
        type="password"
        class="formControl w-100"
        placeholder="{{ 'sign_up.password_label' | translate }}"
        formControlName="password"
        #userPwd
        required />
    </div>
    <div class="formGroup">
      <button
        class="btn btn-danger w-100 mt-2"
        value="Log in"
        type="submit"
        [disabled]="!signUpForm.valid">
        {{ 'sign_up.login' | translate }}
      </button>
    </div>
    <div class="formGroup d-flex justify-content-center">
      <span class="or"
        ><span class="orInner">{{ 'sign_up.or' | translate }}</span></span
      >
    </div>
    <!-- Continue with Google -->
    <div class="formGroup">
      <span role="button" class="btn btn-success" (click)="googleAuth()">
        <fa-icon [icon]="faUserShield"></fa-icon>
        {{ 'sign_up.login_google' | translate }}
      </span>
    </div>
  </form>
  <div class="redirectToLogin mt-2">
    <span
      >{{ 'sign_up.signin_message' | translate }}
      <a class="redirect link" routerLink="/login">{{
        'sign_up.signin_link' | translate
      }}</a></span
    >
  </div>
</div>
