<div class="container">
  <div class="row">
    <main role="main" class="col-12 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">{{ 'dashboard.title' | translate }}</h1>
        </div>
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img
                class="align-self-start mr-5 img-thumbnail rounded-circle"
                src="{{
                  user.photoURL ? user.photoURL : '/assets/dummy-user.png'
                }}"
                alt="{{ user.displayName }}"
                width="100px"
                height="100px" />
              <div class="media-body">
                <h1>
                  <strong>{{
                    user.displayName ? user.displayName : 'User'
                  }}</strong>
                </h1>
                <p>
                  {{ 'dashboard.id' | translate
                  }}<strong>{{ user.uid }}</strong>
                </p>
                <p>
                  {{ 'dashboard.email' | translate
                  }}<strong>{{ user.email }}</strong>
                </p>
                <p>
                  {{ 'dashboard.email_verified' | translate
                  }}<strong>{{ user.emailVerified }}</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <a class="btn btn-dark" routerLink="/">{{
              'dashboard.shopping_list' | translate
            }}</a>
            <a class="btn btn-dark" routerLink="/lists">{{
              'dashboard.shopping_lists' | translate
            }}</a>
            <button class="btn btn-danger" (click)="authService.SignOut()">
              <fa-icon [icon]="faSignOutAlt"></fa-icon
              >{{ 'dashboard.logout' | translate }}
            </button>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
