<main class="page main-section container p-2 p-sm-5 flex-column">
  <div class="section-body" *ngIf="(termsAndConditionsContent$ | async) as content">
    <header>
      <h1 class="title">{{ content.fields.title }} </h1>
    </header>
    <section>
      <div class="banner" *ngIf="termsAndConditionsImage$ | async as image">
        <img src="{{ image }}" alt="">
      </div>
      <div class="description">
        <div [innerHtml]="returnHtmlFromRichText(content.fields.description)"></div>
      </div>
    </section>
  </div>
</main>
