<div class="container p-5 flex-column">
  <h1>Sign Up</h1>
  <form (ngSubmit)="signUp()" [formGroup]="signUpForm" class="row flex-column">
    <div class="formGroup py-1">
      <input
        type="email"
        class="formControl w-100"
        placeholder="Email Address"
        formControlName="email"
        #userEmail
        required />
    </div>
    <div class="formGroup py-1">
      <input
        type="password"
        class="formControl w-100"
        placeholder="Password"
        formControlName="password"
        #userPwd
        required />
    </div>
    <div class="formGroup">
      <button
        class="btn btn-primary w-100 mt-2"
        value="Log in"
        type="submit"
        [disabled]="!signUpForm.valid">
        Sign Up
      </button>
    </div>
    <div class="formGroup d-flex justify-content-center">
      <span class="or"><span class="orInner">Or</span></span>
    </div>
    <!-- Continue with Google -->
    <div class="formGroup">
      <button class="btn btn-success" (click)="authService.GoogleAuth()">
        <fa-icon [icon]="faUserShield"></fa-icon>
        Continue with Google
      </button>
    </div>
  </form>
  <div class="redirectToLogin mt-2">
    <span
      >Already have an account?
      <a class="redirect" routerLink="/login">Log In</a></span
    >
  </div>
</div>
