.alert {
  min-height: 60px;
  position: fixed;
  inset: 0 auto auto 0;
  z-index: 99999;
  // alert color overwrite
  &.alert-success {
    background: #198754;
    color: white;
  }
  &.alert-danger {
    background: #EB0052;
    color: white;
  }
}
