:host {
  .overlay {
    z-index: -1;
  }

  .modal-dialog {
    .modal-content {
      background: #08011a;
      color: #fff;
      box-shadow: 0 0 10px 10px #e2004f;
      .modal-header,
      .modal-footer {
        border-color: #e2004f;
      }
    }
    @media screen and(max-width: 769px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      width: 80vw;
    }
  }
}
