<div class="main-section container p-2 p-md-5 flex-column">
  <h1>{{ 'reset_password.title' | translate }}</h1>
  <form
    (ngSubmit)="resetPassword()"
    [formGroup]="passwordRecoverForm"
    class="row flex-column form-group"
    *ngIf="{ value: getAuthPendingState$ | async } as authPendingState">
    <p class="text-center">
      {{ 'reset_password.text' | translate }}
    </p>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'reset_password.form.email.label' | translate }}</mat-label>
      <input matInput formControlName="email" name="email" />
      <mat-error
        *ngIf="passwordRecoverForm.get('email')?.hasError('required')"
        >{{
          'reset_password.form.email.errors.required' | translate
        }}</mat-error
      >
      <mat-error *ngIf="passwordRecoverForm.get('email')?.hasError('email')">{{
        'reset_password.form.email.errors.email' | translate
      }}</mat-error>
    </mat-form-field>
    <div class="formGroup d-flex justify-content-center">
      <button
        class="btn btn-danger mt-2 w-100"
        value="Reset password"
        type="submit"
        [disabled]="!passwordRecoverForm.valid || authPendingState.value">
        {{ 'reset_password.form.submit.label' | translate }}
      </button>
    </div>
  </form>
  <div class="redirectToLogin mt-2">
    <span
      >{{ 'reset_password.go_back' | translate
      }}<a class="redirect link" routerLink="/login">{{
        'reset_password.login' | translate
      }}</a></span
    >
  </div>
</div>
