<main class="page main-section container p-2 p-sm-5 flex-column">
  <div class="section-body" *ngIf="aboutContent$ | async as content">
    <header>
      <h1 class="title">{{ content.fields.title }}</h1>
    </header>
    <section>
      <div class="banner" *ngIf="aboutImage$ | async as image">
        <img src="{{ image }}" alt="" />
      </div>
      <div class="description">
        <div
          [innerHtml]="
            returnHtmlFromRichText(content.fields.description)
          "></div>
      </div>
      <div class="localizaton">
        <h2 [innerHtml]="content.fields.localizationHeader"></h2>
        <google-map
          height="400px"
          width="750px"
          [center]="center"
          [zoom]="zoom"
          (mapClick)="moveMap($event)"
          (mapMousemove)="move($event)">
          <map-marker
            *ngFor="let markerPosition of markerPositions"
            [position]="markerPosition"
            [options]="markerOptions"></map-marker>
        </google-map>
      </div>
    </section>
  </div>
</main>
