<main
  class="page main-section container p-2 p-sm-5 flex-column"
  *ngIf="this.isPrivacyContentLoaded$ | async; else loading">
  <div class="section-body" *ngIf="privacyContent$ | async as privacy">
    <ng-container *ngIf="privacy.content">
      <header>
        <h1 class="title">{{ privacy.content.fields.title }}</h1>
      </header>
      <section>
        <ng-container *ngIf="privacy.asset">
          <div class="banner">
            <img src="{{ privacy.asset.url }}" alt="" />
          </div>
        </ng-container>

        <div class="description">
          <div
            [innerHtml]="
              returnHtmlFromRichText(privacy.content.fields.description)
            "></div>
        </div>
      </section>
    </ng-container>
  </div>
</main>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
