<div class="container p-5 flex-column">
  <h1>{{ 'reset_password.title' | translate }}</h1>
  <form
    (ngSubmit)="resetPassword()"
    [formGroup]="resetPasswordForm"
    class="row flex-column">
    <p class="text-center">
      {{ 'reset_password.text' | translate }}
    </p>
    <div class="formGroup">
      <input
        type="email"
        class="formControl w-100"
        placeholder="{{ 'reset_password.input_placeholder' | translate }}"
        formControlName="email"
        #passwordResetEmail
        required />
    </div>
    <div class="formGroup d-flex justify-content-center">
      <button
        class="btn btn-primary mt-2"
        value="Reset password"
        type="submit"
        [disabled]="!resetPasswordForm.valid">
        {{ 'reset_password.Button_label' | translate }}
      </button>
    </div>
  </form>
  <div class="redirectToLogin mt-2">
    <span>{{ 'reset_password.go_back' | translate }}<a class="redirect" routerLink="/login">{{ 'reset_password.login' | translate }}</a></span>
  </div>
</div>
