<div class="main-section container p-2 p-md-5 flex-column">
  <h1 class="pb-3">{{ 'sign_in.title' | translate }}</h1>
  <form
    (ngSubmit)="signIn()"
    [formGroup]="signInForm"
    class="row flex-column form-group"
    *ngIf="{ value: getAuthPendingState$ | async } as authPendingState">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'sign_in.form.login.label' | translate }}</mat-label>
      <input matInput formControlName="login" name="login" />
      <mat-error *ngIf="signInForm.get('login')?.hasError('required')">{{
        'sign_in.form.login.errors.required' | translate
      }}</mat-error>
      <mat-error *ngIf="signInForm.get('login')?.hasError('email')">{{
        'sign_in.form.login.errors.email' | translate
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'sign_in.form.password.label' | translate }}</mat-label>
      <input
        matInput
        formControlName="password"
        name="password"
        [type]="(hidePassword$ | async) ? 'password' : 'text'" />
      <mat-icon matSuffix (click)="togglePasswordHide()">{{
        (hidePassword$ | async) ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error *ngIf="signInForm.get('password')?.hasError('required')">{{
        'sign_in.form.password.errors.required' | translate
      }}</mat-error>
      <mat-error *ngIf="signInForm.get('password')?.hasError('minlength')">{{
        'sign_in.form.password.errors.minLength' | translate
      }}</mat-error>
    </mat-form-field>
    <div class="formGroup">
      <button
        class="btn btn-danger w-100 mt-2"
        value="Log in"
        type="submit"
        [disabled]="!signInForm.valid || authPendingState.value">
        {{ 'sign_in.login' | translate }}
      </button>
    </div>
    <div class="formGroup d-flex justify-content-center mt-2">
      <span class="or"
        ><span class="orInner">{{ 'sign_in.or' | translate }}</span></span
      >
    </div>
    <!-- Calling GoogleAuth Api from AuthService -->
    <div class="formGroup mt-2">
      <button
        class="btn btn-success w-100"
        (click)="googleAuth()"
        [disabled]="authPendingState.value">
        <fa-icon [icon]="faUserShield"></fa-icon>
        {{ 'sign_in.login_google' | translate }}
      </button>
    </div>
    <div class="formGroup mt-3">
      <button
        class="btn btn-primary w-100"
        (click)="facebookAuth()"
        [disabled]="authPendingState.value">
        <fa-icon [icon]="faUserShield"></fa-icon>
        {{ 'sign_in.login_facebook' | translate }}
      </button>
    </div>
    <div class="formGroup mt-3 mb-2">
      <button
        class="btn btn-secondary w-100"
        (click)="anonymousLogin()"
        [disabled]="authPendingState.value">
        <fa-icon [icon]="faUserShield"></fa-icon>
        {{ 'sign_in.login_anonymously' | translate }}
      </button>
    </div>
  </form>

  <div class="forgotPassword mb-2">
    <a class="link" routerLink="/forgot-password">{{
      'sign_in.forgot_password' | translate
    }}</a>
  </div>

  <div class="redirectToLogin row">
    <span
      >{{ 'sign_in.signup_message' | translate
      }}<a class="redirect link" routerLink="/register">
        {{ 'sign_in.signup_link' | translate }}</a
      ></span
    >
  </div>
</div>
