<div class="container p-3 flex-column">
  <form (ngSubmit)="addList()" [formGroup]="newTaskForm" class="w-100">
    <div class="input-group mb-3 d-flex flex-nowrap">
      <label class="visually-hidden" for="newList">{{ 'lists.add_list.input_placeholder' | translate }}</label>
      <input
        type="text"
        placeholder="{{ 'lists.add_list.input_placeholder' | translate }}"
        [(ngModel)]="newList"
        formControlName="newList"
        id="newList"
        autocomplete="off"
        class="rounded flex w-100"
        #inputField />
      <div class="input-group-append d-flex">
        <button
          type="submit"
          class="input-group-text btn btn-danger col-6 w-100"
          id="basic-addon2"
          [disabled]="!newTaskForm.valid">
          {{ 'lists.add_list.button_label' | translate }}
        </button>
      </div>
    </div>
  </form>
  <h1>{{ 'lists.title' | translate }}</h1>
  <div *ngIf="this.isListLoaded$ | async; else loading" class="list-container">
    <ol class="list-group" #toDoTaskListGroup>
      <li *ngFor="let list of tasksList" class="list-group-item">
        <div
          class="d-flex justify-content-end gap-2 flex-wrap align-items-center">
          <div class="flex-grow-1 word-break text-left">
            {{ list.name }}
          </div>
          <div class="d-flex flex-nowrap align-self-center gap-2">
            <button
              type="button"
              class="btn btn-success"
              (click)="selectList(list)">
              {{ 'lists.list.open' | translate }}
            </button>
            <button type="button" class="btn btn-danger" (click)="remove(list)">
              {{ 'lists.list.remove' | translate }}
            </button>
          </div>
        </div>
      </li>
    </ol>
  </div>
  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
</div>
