@import '~bootstrap/scss/bootstrap';

@import './styles/index.scss';

html {
  background-color: #08011a;
}
body {
  background: #08011a url('./assets/background.webp') no-repeat fixed center;
  background-size: cover;
  display: block;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e2004f;
  border-radius: calc(15px / 2);
}