.shopping-list-component {
  width: 100%;
  @media only screen and (min-width: 768px) {
    min-width: 700px;
  }
  @media only screen and (max-width: 768px) {
    width: 90vw;
  }
  background: rgba(81, 90, 184, 0.3);
  color: #fff;
  h2 {
    text-align: center;
    padding: 0.625rem;
  }
  a {
    color: #fff;
  }
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .manage-lists {
    text-align: right;
    padding: 10px 10px 0;
    margin: 0;
    font-size: 1rem;
  }
}
