.alert {
  background: rgba(81, 90, 184, 0.3);
  border: none;
  color: #fff;
}

.hide {
  display: none;
}

.btn {
  background-color: #EB0052;
  color: #fff;
  box-shadow: 0 0 5px #a595ba;
  border: #EB0052;
}

nav {
  height: fit-content;
}
